.filter-container {
  margin-bottom: 20px;
  width: 30%;
  max-width: 30%;

  .react-select__control {
    width: 100%;
    max-width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;

    &:hover,
    &:focus {
      border-color: #007bff;
    }
  }

  .react-select__menu {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    font-size: 16px;
  }

  .react-select__option {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 5px;
    cursor: pointer;

    &:before {
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 10px;
    }
  }

  .option-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    .color-circle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}
