@import "../../../assets/styles/variables.scss";

.status-indicator {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.completed {
  background-color: $color-success;
}

.pending {
  background-color: $color-warning;
}
