@import "../../../assets/styles/styles.scss";

.status-indicator {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}

.completed {
  background-color: $color-success;
}

.pending {
  background-color: $color-warning;
}
