@import "../../../assets/styles/variables.scss";

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $modal-background-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: $color-light;
  padding: 20px;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 16px;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons button:first-child {
  background-color: $color-danger;
  color: $color-light;
  &:hover {
    background-color: $color-danger-darker;
  }
}

.buttons button:last-child {
  background-color: $light-gray;
  &:hover {
    background-color: $mid-gray;
  }
}
