@import "../../../assets/styles/styles.scss";
.main-layout {
  max-width: 70%;
  margin: 0 auto;
  padding: 1rem;
  @media (max-width: 992px) {
    max-width: 90%;
    padding: 0.35rem;
  }
}

header {
  text-align: center;
  margin-bottom: 1rem;
  @media (max-width: 992px) {
    margin-bottom: 0.5rem;
  }
}

main {
  background-color: $app-background-color;
  padding: 1.5rem;
  border-radius: 0.5rem;

  height: 100vh;
  min-height: 50vh;

  @media (max-width: 992px) {
    padding: 0.5rem;
  }
}
