.task-form {
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: stretch;
  > *:not(:last-child) {
    flex: 2;
  }

  > *:last-child {
    flex: 1;
  }
}

.error-message {
  color: red;
}
