@import "../../../assets/styles/styles.scss";
.input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: $color-primary;
}

.input-error {
  border-color: $color-danger;
}
