.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;

  &:last-child {
    border-bottom: none;
  }

  .title-status-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .indicator {
      margin-right: 0.5rem;
    }
    .title {
      font-weight: bold;
    }
  }

  .task-actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  @media (max-width: 992px) {
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    .task-actions {
      width: 100%;
      justify-content: end;
    }

    .title-status-container {
      width: 50%;
    }
  }

  @media (max-width: 576px) {
    padding: 1rem;
    gap: 1rem;

    .task-actions {
      width: 100%;
      justify-content: space-between;
      align-items: stretch;
    }

    .title-status-container {
      width: 100%;
    }
  }
}
