@import "../../../assets/styles/styles.scss";

.button {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: $color-light;
  cursor: pointer;
  transition: background-color 0.3s ease;

  background-color: var(--primary-color, $color-primary);
  border-color: var(--primary-color, $color-primary);

  &:hover {
    background-color: var(--hover-color, $color-primary-darker);
  }

  &:focus {
    outline: none;
  }
}
