@import "../../../assets/styles/styles.scss";
.task-view {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid $mid-gray;
  border-radius: 8px;
  background-color: $white;

  .status-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: $color-primary;
  }

  .task-details {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    strong {
      margin-right: 5px;
    }
  }
}
.back-to-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 5%;
  .back-action {
    font-size: 16px;
    color: $color-primary;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
      color: $color-primary-darker;
    }
  }
}
