@import "../../../assets/styles/variables.scss";
.react-select__control {
  width: 100%;
  max-width: 100%;
  padding: 5px 5px;
  font-size: 16px;
  border: 1px solid $color-light;
  border-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: $color-primary;
  }
}

.react-select__menu {
  border: 1px solid $color-light;
  border-radius: 5px;
  box-shadow: none;
  font-size: 16px;
}

.react-select__option {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 5px;
  cursor: pointer;
}

.option-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  .color-circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
}
