$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-danger: #dc3545;
$color-warning: #ffc107;
$color-info: #17a2b8;
$color-light: #f8f9fa;
$color-dark: #343a40;

$color-primary-darker: darken($color-primary, 10%);
$color-danger-darker: darken($color-danger, 10%);
$modal-background-color: rgba(204, 215, 227, 0.859);
$light-gray: #ddd;
$mid-gray: darken($light-gray, 10%);
$app-background-color: #f8f9fa;
$white: #fff;

@mixin ellipsis-lines($lines) {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $lines;
  line-clamp: $lines;
  -webkit-box-orient: vertical;
}
